.article {
  display: flex;
  height: 100px;
  margin-top: 30px;
  width: 940px;
  padding: 15px 20px 15px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 21px 0px rgba(34, 60, 80, 0.2);
  &__info {
    width: 75%;
    margin-right: auto;
    &__text {
      display: none;
    }
    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-weight: 500;

      &__tittle {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;

        color: #1890ff;
      }
    }

    &__tag {
      font-size: 12px;
      padding: 5px;
      border: 1px solid rgb(173, 173, 173);
    }

    &__description {
      margin: 0;
      margin-top: 10px;

      font-size: 14px;
      font-weight: normal;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.single_page {
  height: auto !important;
  margin: 30px auto 0;
  .article__info__text {
    display: block;
  }
}
.favorite {
  width: 0.8em !important;
  height: 0.8em;
}

.article__user {
  display: flex;
  height: 50px;
  &__info {
    display: flex;
    flex-direction: column;
    text-align: right;
    &__name {
      font-weight: 500;
    }
    &__date {
      font-size: 12px;
      color: grey;
    }
  }

  &__avatar {
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
  }
}
